{% extends 'base.html.twig' %}

{% block title %}SpotiLike | Connexion{% endblock %}

{% block body %}
{% include "__header.html.twig" %}
<section id="loginPage">
    <section>
        <div class="formImage"></div>
        <div class="form">
            <p>Vous n'avez pas de compte ? <a href="/register">Créez un compte</a></p>
            <form method="post">
                {# {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div>
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %} #}

                <h2>Connectez-vous</h2>
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button type="submit" class="btn">Se connecter</button>
            </form>
        </div>
    </section>
</section>
{% include "__footer.html.twig" %}
{% endblock %}
