{% extends 'base.html.twig' %}

{% block title %}SpotiLike | Inscription{% endblock %}

{% block body %}
{% include "__header.html.twig" %}
<section id="loginPage">
    <section>
        <div class="formImage"></div>
        <div class="form">
            <div id="compte">
                <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></p>
            </div>
            {{ form_start(registrationForm) }}
                <h2>Créez un compte</h2>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

                <button type="submit" class="btn">Créer un compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
</section>
{% include "__footer.html.twig" %}
{% endblock %}