{% extends 'base.html.twig' %}

{% block title %}SpotiLike | Découvrir{% endblock %}

{% block body %}
{% include "__header.html.twig" %}
    <section id="playlistCat">
        <h2>Choisissez une catégorie</h2>
        <section>
            <a href="{{ path('app_pop_playlist') }}" class="green">Pop</a>
            <a href="{{ path('app_hip_hop_playlist') }}" class="black">Hip-Hop</a>
            <a href="{{ path('app_rock_playlist') }}" class="green">Rock</a>
            <a href="{{ path('app_electro_playlist') }}" class="black">Électro</a>
            <a href="{{ path('app_reggae_playlist') }}" class="black">Reggae</a>
            <a href="{{ path('app_chill_playlist') }}" class="green">Chill</a>
            <a href="{{ path('app_classique_playlist') }}" class="black">Classique</a>
            <a href="{{ path('app_autre_playlist') }}" class="green">Autre</a>
        </section>
    </section>
{% include "__footer.html.twig" %}
{% endblock %}
